
body{
    background-image: url('https://cdn.pixabay.com/photo/2020/02/19/07/17/background-4861540_1280.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden
}



.loader {
    background: #f7dfed;
    background:#f7dfed;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation: 
		spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
	;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

 .first{
    color: purple;
    
    margin-top: 90px;
    float: left;
    margin-left:150px;
} 

.second{
   width:190px;
   margin-left: -180px;
   margin-top: 180px;
   border-radius: 25px;
   /* position:absolute; */
}
.third{
   
    margin-left: -235px;
    margin-bottom: -80px;
    /* position:absolute; */
    
    
} 
.fourth{
    float: right;
    margin-left: 160px;
    margin-bottom: 10px;
    /* margin-top:30px; */
    /* margin-right: 20px;   */
    width:80%;
    height: 500px;
    overflow-y: scroll;
}
.five{
    /* /* width:190px; */
 
 margin-top: 90px; 
  margin-left: 210px;
  
}

.par{
    background-color: rgba(177, 70, 168, 0.329);
    border-radius: 5%;
    width:35%;
    height: 550px;
    box-shadow: 5px 5px #9DD8F7, 10px 10px #F98EBB, 15px 15px #FAF088;
    margin-left: 790px;
   
    margin-top: -618px;
   
    
}

.part1{
    background-color: rgba(177, 70, 168, 0.329);
    border-radius: 5%;
    width:35%;
    height: 550px;
    box-shadow: -5px 5px #9DD8F7, -10px 10px #F98EBB, -15px 15px #FAF088;
    margin-left: 260px;
    margin-bottom: 66px;
    margin-top:150px;
    margin-right: 20px; 
}

.but{
    background-color: rgba(231, 195, 228, 0.329);
    border-radius: 5%;
    
}

/* .imgand{
    position: relative;
    width: 18%;
    height: 10%;
} */


.storyImage{
    width:250px;
    height: 250px;
    box-shadow: 5px 5px #549af5, 10px 10px #F98EBB, 15px 15px #FAF088;
    margin:20px;
    background-color: #B298C8;
    margin-left:50px;
    margin-top:60px ;
    border-radius: 4%;
    
}

.imagest{
    margin-top:20px;
    width:210px;
    height:200px;
    margin-top:28px;
    border-radius: 4%;
}



a:link {
    text-decoration: none;
  }


  